/* Defining the flexboxes */
/* body */
header,
ul,
.welcome,
.info,
.action-text
.footer {
    display: flex;
}


body {
    /*flex-direction: column;*/
} 

header,
.welcome,
footer {
    background-color: #1f2937;
    color: #ffffff;
}

.quote {
    background-color: #e5e7eb;
}

.blue-box {
    background-color: #3882f6;
}