body, 
header,
ul,
.welcome,
.image-container,
.action-call,
.blue-box,
.footer {
    display: flex;
}


body {
    flex-direction: column;
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
} 

header,
.welcome,
footer {
    background-color: #1f2937;
}

.welcome h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

header li,
.welcome p {
    font-size: 18px;
    color: #e5e7eb;
}

header .logo {
    font-size: 24px;
    color: #f9faf8;
}

.info h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 75px;
}

.blue-box,
button {
    background-color: #3882f6;
}

footer {
    color: #e5e7eb;
    flex: 1 1 auto; /* COME BACK HERE AND FIGURE OUT HOW TO FLEX THIS */
    padding: 40px;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    margin: 10px;
}
header {
    justify-content: space-between;
    padding: 15px 50px;
} 

.pretend-image-large {
    width: 450px;
    height: 200px;
    background-color: gray;
}

.pretend-image {
    width: 200px;
    height: 200px;
    background-color: gray;
}

.welcome {
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}

.welcome-left {
    max-width: 500px;
}

.image-container {
    justify-content: center;
    gap: 40px;
}

.image-unit p {
    max-width: 200px;
}

.quote .quote-credit {
    text-align: right;
}

.action-call {
    justify-content: center;
}

.blue-box {
    flex: 1 1 auto;
    padding: 25px 50px;
    margin: 50px;
    justify-content: space-around;
    gap: 100px;
}

